[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
camelot-key = {file = ".", editable = true}

[dev-packages]
build = "*"
pdoc3 = "*"

[requires]
python_version = "3.13"
